<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Nicolas MINE">

        <title>Acceuil</title>

        <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/style.css') }}">
    </head>

    <body>
      <h1 style="text-align: center;">Recommandeur de Films</h1>
       <div class="row">
          <div class="col-md-4 col-md-offset-4 text-center">
            <h2>Entrez l'ID du film que vous avez vu <small>1 - {{ x_max }}</small></h2>
            <div class="input-group">
                <input type="text" class="form-control" aria-label="Film ID" id="film_id">
                <div class="input-group-btn">
                    <button id="submit_btn" type="button" class="btn btn-default">Propose !</button>
                </div>
            </div>
            <hr>
            <h2>Selectionnez le film dans la liste ci-dessous</h2>
            <div class="input-group">
                <select class="form-control" id="film_dropdown">
                   {% for movie in droplist %}
                   <option value="{{ movie[0] }}">{{ movie[1] }}</option>
                   {% endfor %}
                </select>
                <div class="input-group-btn">
                    <button id="submit_btn_2" type="button" class="btn btn-default">Propose !</button>
                </div>
            </div>
			<hr>
			</br></br></br></br></br></br></br></br>
			<a href="/" class="btn btn-primary btn-lg" role="button">Retour au Menu</a></br></br>
          </div>

        </div>        
    </body>
    
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script>
        $("#submit_btn").click(function(){
            let fid = $("#film_id").val();
            window.location.href = "/p3/recommend/"+fid;
        });
        $("#submit_btn_2").click(function(){
            let fid = $("#film_dropdown").val();
            window.location.href = "/p3/recommend/"+fid;
        });
    </script>
</html>